<h3> Hello, <%= username %> </h3>
<hr />

<% if new_episodes.empty? %>
  <h2> There are no new episodes! </h2>
<% else %>
  <h2> New Episodes: </h2>
  <% new_episodes.each do |episode| %>
  <%= episode.number %>
  <% end %>
<% end %>

<hr />

<h4> Search for Movie: </h4>


<form action="/query" method="post" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-3">
      <input type="text" name="movie_name" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-blank">Advance!</button>
</form>


<hr />
<h4> Latest movies seen: </h4>
<br />
<% latest.reverse.each do |movie| %>
<%= movie.title %> (<%= movie.year %>) <br />
<% end %>
