<h1> Hi</h1>

<h2> New Episodes: </h2>

<hr />

<h4> Add Movie: </h4>


<form action="/post" method="post" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-3">
      <input type="text" name="movie_name" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-blank col-md-offset-6">Advance!</button>
</form>
