<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Registry - Organiser for movies</title>

    <link rel="shortcut icon" type="image/png" href="/images/video_camera.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="padding-top: 60px">
<header>
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index" class="navbar-brand"> Movie Registry </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/last">Check last episode seen</a></li>
                  <li><a href="/seen">Did i see that movie?</a></li>
                  <li><a href="/edit">Edit an entry</a></li>
                  <li><a href="/profile">Change my name</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>

  <div id="main" class="container body-content">
      <%= yield %>
  </div>

  <hr />
  <footer>
    <p class="text-center">
      <a href="mailto:angelin.nedelchev@outlook.com">Angelin Nedelchev</a> &copy; Ruby - 2015/2016
    </p>
  </footer>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$('select').on('change', function() {
  window.location.href = '/edit?type=' + this.value;
});
</script>
</body>

</html>
