<h3 class="h3 text-center"> Type in your name to access your data: </h3>
<hr />

<form action="/login" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-5">Username</label>
    <div class="col-md-3">
      <input type="text" name="username" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-success col-md-offset-6">Advance!</button>
</form>
