<style>
 div {  background-image: url('/apartmenthomeliving404.JPG');
        width: 1280px;
        height: 600px;
        cursor: pointer;
 }
 body {
  background-color: #6D4526
 }
</style>

<div onclick="javascript:window.location.href='/index'"></div>
